<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Screen</title>
    <link rel="stylesheet" href="styles2.css">
</head>
<body>
    <div class="header-container">
        <div class="logo-container">
            <button><img src="images/pengulingo.png" alt="logo"></button>
        </div>
        <div class="log-in-container">
            <button><img src="images/log-in.png" alt="log-in"></button>
        </div>
    </div>
    <div class="image-container">
        <div class="pengu-container">
            <img src="images/pengu-loading-screen.png" class="pengu">
            <div class = "balloons">
                <img src="images/balloon-green.png" class="balloon-green">
                <img src="images/balloon-pink.png" class="balloon-pink">
                <img src="images/balloon-yellow.png" class="balloon-yellow">
                <img src="images/balloon-red.png" class="balloon-red">
            </div>
        </div>
    </div>
    <div class="globe-container">
        <img src="images/globe.png" alt="globe">
    </div>
    <div class="join-game">
        <button><img src="images/join-game.png" alt="Join Game" class="join-game-img"></button>
        <button><img src="images/join-game-hover.png" alt="Join Hover" class="join-game-hover"></button>
    </div>
    <div class="host-game">
        <button><img src="images/host-game.png" alt="Host Game" class="host-game-img"></button>
        <button><img src="images/host-game-hover.png" alt="Host Hover" class="host-game-hover"></button>
    </div>
    <div class = "text">
        <img src="images/display-text.png" alt="display-text">
    </div>
    <div class="language-selector">
        <button><img src="images/French.png" alt="french"></button>
        <button><img src="images/Chinese.png" alt="chinese"></button>
        <button><img src="images/Italian.png" alt="italian"></button>
        <button><img src="images/Spanish.png" alt="spanish"></button>
    </div> 
</body>
</html>