<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Game</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="choose-game">
        <div class="background">
            <img src="choose-game-images/background.png" class="background-img" />
            <img src="choose-game-images/Pink-Background.png" class="Pink-Background" />
        </div>
        <div class="games">
            <img src="choose-game-images/Go-Groceries-Selected.png" class="go-groceries" />
            <img src="choose-game-images/Directions-Unselected.png" class="directions" />
            <img src="choose-game-images/Orderly-Chaos-Unselected.png" class="orderly-chaos" />
        </div>
        <div class="players">
            <img src="choose-game-images/red-player.png" class="red-player" />
            <img src="choose-game-images/blue-player.png" class="blue-player" />
            <img src="choose-game-images/yellow-player.png" class="yellow-player" />
            <img src="choose-game-images/green-player.png" class="green-player" />
        </div>
        <div class="pengu">
            <img src="choose-game-images/Pengu Happy.png" class="pengu-img" />
        </div>
        <img src="choose-game-images/select-game.png" class="select-game" />
        <img src="choose-game-images/groceries-description.png" class="groceries-description" />
        <img src="choose-game-images/Group 49.png" class = "back-button" />

    </div>
</body>

</html>