<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Go Groceries!</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class = "background-container">
        <div class = "shelves">
            <img src = "go-go-images/shelf-1.png" class = "shelf-1" />
            <img src = "go-go-images/shelf-2.png" class = "shelf-2" />
            <img src = "go-go-images/shelf-3.png" class = "shelf-3" />
            <img src = "go-go-images/shelf-4.png" class = "shelf-4" />
        </div>
        <div class = "ground">
            <img src = "go-go-images/ground.png" class = "checkered-ground" />
            <img src = "go-go-images/Pengu-Cart.png" class = "pengu" />
        </div>
        <img src = "go-go-images/lights.png" class = "lights" />
    </div>
</body>