// OVERALL_STYLING
body,
html {
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

:root {
  text-size-adjust: 100%;
}

.active {
  color: pink;
}

// FONT_STYLING

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

// CREATEGAME_PAGE

.create-game {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("img/admin_color_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.page-top-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.invis-top-bar {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: calc(100% - 60px);
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 11;
}

.pengulingo-title {
  font-weight: 600;
  font-size: 20px;
  color: #11adde;
  cursor: pointer;
  z-index: 11;
}

.language-icon {
  z-index: 11;
}

.invis-top-bar a {
  text-decoration: none;
  z-index: 10;
}

.foreground {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding-top: 100px;
}

.background {
  display: flex;
  width: 100vw;
  z-index: 0;
  background-image: url("img/balloons.png");
  background-size: 100%;
  background-repeat: repeat-y;
  justify-content: center;
  align-items: center;
}

.pengu-logo {
  width: 17%;
}

.little-icon {
  width: 40px;
  height: 24px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading-circle-div {
  display: flex;
  padding-top: 66px;
  justify-content: center;
  align-items: center;
}

.big-loading {
  position: absolute;
  width: 40%;
  animation: rotate 20s linear infinite;
}

.loading-icon-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.back-button {
  background-color: transparent;
  color: transparent;
  border: none;
}

.loading-icon-image-icon {
  position: absolute;
  z-index: 1;
  animation: rotate 5s linear infinite; // change this animation
}

.loading-icon-image-bg {
  position: relative;
  z-index: 0;
  height: 100%;
}

.buttons-div {
  display: flex;
  width: 98%;
  height: 12%;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2%;
}

.buttons-div button {
  cursor: pointer;
}

.createbutton {
  display: flex;
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 32px;
  font-family: "Poppins", serif;
  color: white;
  padding: 0;
}

.createbutton:hover {
  color: #7ce0ff; // change this hover effect, can't do box shadow directly bc its an image not span
  transition-duration: 0.3s;
}

.create-button-text {
  position: absolute;
}

.enter-name {
  width: 19%;
  height: 5.5%;
  padding: 10px;
  border-radius: 50px;
  border: 3px solid #cccccc;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  color: #333;
}

.enter-name::placeholder {
  color: #cccccc;
  text-align: center;
}

.enter-name:focus {
  border-color: #68a1be;
  outline: none;
}

input.enter-name.not-empty {
  border-color: #68a1be;
}

// JOINGAME_PAGE

.join-game-page {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("img/player_color_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.join-game-page .enter-name {
  border-color: #cccccc;
}

.join-game-page .enter-name:focus {
  border-color: #74be68;
  outline: none;
}

.join-game-page input.enter-name.not-empty {
  border-color: #74be68;
}

.join-game-page button:hover {
  color: #b8ffad;
  transition-duration: 0.3s;
}

// LANDING_PAGE

.landing-page {
  button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .image-container {
    position: relative;
    width: 50%;
    height: auto;
  }

  .pengu {
    position: fixed;
    width: 28%;
    top: 25%;
    left: 10%;
  }

  @keyframes scaleInOut {
    0% {
      transform: scale(1) translate(-20px, -30px);
    }

    50% {
      transform: scale(1) translate(-10px, 10px);
    }

    100% {
      transform: scale(1) translate(10px, -10px);
    }
  }

  .balloon-green {
    position: fixed;
    transform: scale(0.7);
    top: 30%;
    left: 7%;
    animation: scaleInOut 2s infinite alternate;
  }

  .balloon-red {
    position: fixed;
    transform: scale(0.7);
    top: 55%;
    right: 57%;
    animation: scaleInOut 2.2s infinite alternate;
  }

  .balloon-yellow {
    position: fixed;
    transform: scale(0.7);
    top: 65%;
    right: 80%;
    z-index: 1;
    animation: scaleInOut 4s infinite alternate;
  }

  .balloon-pink {
    position: fixed;
    transform: scale(0.7);
    top: 25%;
    right: 62%;
    animation: scaleInOut 3s infinite alternate;
  }

  .globe-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    overflow: hidden;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .globe-container img {
    transform-origin: center;
    margin-left: 37%;
    margin-bottom: -51%;
    animation: spin 60s linear infinite;
  }

  .join-game {
    position: fixed;
    top: 55%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
    width: 28%;
    height: auto;
  }

  .join-game img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
    z-index: 2;
  }

  .join-game .join-game-img {
    opacity: 1;
  }

  .join-game .join-game-hover {
    opacity: 0;
  }

  .join-game:hover .join-game-img {
    opacity: 0;
  }

  .join-game:hover .join-game-hover {
    opacity: 1;
  }

  .host-game {
    position: fixed;
    top: 40%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
    width: 28%;
    height: auto;
  }

  .host-game img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
    z-index: 2;
  }

  .host-game .host-game-img {
    opacity: 1;
  }

  .host-game .host-game-hover {
    opacity: 0;
  }

  .host-game:hover .host-game-img {
    opacity: 0;
  }

  .host-game:hover .host-game-hover {
    opacity: 1;
  }

  .header-container {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0%;
    z-index: 4;
    border-bottom: 2px solid lightgray;
  }

  .logo-container {
    position: fixed;
    left: 3%;
    top: 4%;
    transform: scale(0.8);
  }

  .log-in-container {
    position: fixed;
    right: 3%;
    top: 5.5%;
    transform: scale(0.8);
  }

  .text {
    position: fixed;
    transform: scale(0.65);
    left: 35%;
    top: 20%;
  }

  .language-selector {
    position: fixed;
    z-index: 0;
    bottom: -2%;
    left: -1%;
    transform: scale(0.65);
    display: flex;
    gap: 75px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 2px solid lightgray;
  }

  .language-selector::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    height: 50px;
    width: 2px;
    background-color: lightgray;
  }

  .language-selector::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    height: 50px;
    width: 2px;
    background-color: lightgray;
  }

  .language-selector button.selected {
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.8));
  }
}

// LETSGO_PAGE

.lets-go-class {
  background-color: black;

  .container {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .lights {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
  }

  .players {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0%;
    width: 100%;
    z-index: 2;
  }

  .lights img {
    width: 3vw;
    height: 150vh;
    margin-left: 5vw;
    margin-right: 5vw;
    object-fit: cover;
    transform-origin: bottom center;
  }

  .lights .P1Light,
  .lights .P2Light {
    animation: rotateLights1 5s infinite;
  }

  .lights .P3Light,
  .lights .P4Light {
    animation: rotateLights2 5s infinite;
  }

  .players img {
    margin-left: 3.75vw;
    margin-right: 3.75vw;
    height: 100px;
  }

  @keyframes rotateLights1 {
    0% {
      transform: rotate(-40deg);
    }

    50% {
      transform: rotate(40deg);
    }

    100% {
      transform: rotate(-40deg);
    }
  }

  @keyframes rotateLights2 {
    0% {
      transform: rotate(40deg);
    }

    50% {
      transform: rotate(-40deg);
    }

    100% {
      transform: rotate(40deg);
    }
  }

  .pengu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }

  .pengu-img {
    width: 175px;
    height: auto;
  }

  .ellipse {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 125%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .lets-go-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }

  .lets-go-img {
    width: 400px;
    height: auto;
  }

  .sparkles {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    z-index: 3;
  }

  .red-sparkles,
  .blue-sparkles,
  .yellow-sparkles,
  .green-sparkles {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .red-sparkles {
    top: 45%;
  }

  .blue-sparkles {
    top: 20%;
  }

  .yellow-sparkles {
    top: 20%;
  }

  .green-sparkles {
    top: 45%;
  }

  .red-sparkles img,
  .blue-sparkles img,
  .yellow-sparkles img,
  .green-sparkles img {
    position: absolute;
    transform: scale(0.75);
  }

  .red-sparkles .star-6,
  .blue-sparkles .star-9,
  .yellow-sparkles .star-12,
  .green-sparkles .star-15 {
    top: -20%;
    left: -15%;
    transform: translateX(-50%);
  }

  .red-sparkles .star-7,
  .blue-sparkles .star-10,
  .yellow-sparkles .star-13,
  .green-sparkles .star-16 {
    bottom: -50%;
    left: 20;
  }

  .red-sparkles .star-8,
  .blue-sparkles .star-11,
  .yellow-sparkles .star-14,
  .green-sparkles .star-17 {
    bottom: -10;
    right: -10%;
  }
}

//LOADING_SCREEN

.loading-screen {
  @keyframes popAnimation {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.5);
    }
  }

  background-color: #2dc2f2;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .pengu {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .pengu-img {
    width: 12%;
  }

  .text {
    color: #e5e5e5;
    position: absolute;
    top: 95%;
    left: 45%;
  }

  .balloons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.75);
  }

  .balloons > div {
    position: absolute;
    transform-origin: center;
  }

  .black {
    top: calc(50% + 120px);
    left: calc(50% - 230px);
  }

  .blue {
    top: calc(50% - 250px);
    left: calc(50% - 250px);
  }

  .green {
    top: calc(50% - 70px);
    left: calc(50% + 220px);
  }

  .pink {
    top: calc(50% + 120px);
    left: calc(50% + 130px);
  }

  .red {
    top: calc(50% - 330px);
    left: calc(50% - 50px);
  }

  .white {
    top: calc(50% + 180px);
    left: calc(50% - 50px);
  }

  .yellow {
    top: calc(50% - 250px);
    left: calc(50% + 130px);
  }

  .yellow2 {
    top: calc(50% - 65px);
    left: calc(50% - 320px);
  }

  .balloons img.popped {
    opacity: 0;
    transition: opacity 0s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
  }

  .balloons img.unpopped {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
  }

  .animate-pop {
    animation: popAnimation 0.75s ease-in-out forwards;
  }
}

//CHOOSE_GAME

.choose-game {
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .choose-game {
    background-color: white;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .background-choose-game {
    position: absolute;
    background-image: url(./components/choose-game/choose-game-images/background.png);
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .games {
    background-image: url(./components/choose-game/choose-game-images/Pink-Background.png);
    background-size: cover;
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1%;
    gap: 2%;
  }

  .game-image {
    width: 23%;
    cursor: pointer;
  }

  #unavail {
    cursor: not-allowed;
  }

  .pengu-img {
    position: absolute;
    left: 10%;
    top: 55%;
    width: 15%;
  }

  .groceries-description {
    position: absolute;
    right: 25%;
    top: 50%;
    width: 50%;
  }

  .players {
    position: absolute;
    bottom: -8%;
    right: 10%;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    width: 35%;
  }

  .players img {
    width: 20%;
  }

  .select-game {
    position: absolute;
    transform: scale(0.7);
    top: 15%;
  }

  .back-button {
    position: absolute;
    bottom: 5%;
    left: 2%;
    cursor: pointer;
  }
}

// WAITINGROOM
.waiting-room-page {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: var(--bg-url);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.foreground-waitingroom {
  display: flex;
  width: 100%;
  height: 100vh;
}

.display-all-players {
  width: 100%;
  padding-top: 3%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.code {
  position: relative;
  width: 100%;
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 4;
  font-family: "Poppins", serif;
}

.code button {
  background-color: #48819e;
  color: white;
  border: none;
  border-radius: 50px;
  outline: 2px solid #68a1be;
  outline-offset: -5px;
  padding: 18px 7%;
  cursor: pointer;
  font-weight: 600;
  font-size: 28px;
  font-family: "Poppins", serif;
}

.code button:hover {
  background-color: #68a1be;
  outline: 2px solid #48819e;
  transition-duration: 0.3s;
}

.code p {
  font-weight: 600;
  font-size: 26px;
}

.code h2 {
  font-weight: 600;
  font-size: 28px;
  margin: 0;
  text-align: center;
}

.code-text {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.code-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #48819e;
  color: white;
  border: none;
  font-size: 30px;
  font-weight: 500;
}

.display-players {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.playerbar-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58.5%;
  min-width: 115px;
  width: fit-content;
  background-color: var(--player-color);
  border-radius: var(--radius-right) var(--radius-left) var(--radius-left)
    var(--radius-right);
  outline: 2px solid var(--player-color-2);
  outline-offset: -5px;
}

.playername-text {
  font-weight: 500;
  font-size: 28px;
  font-family: "Poppins", serif;
  color: white;
  padding: 30px;
}

.background-waitingroom {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 0;
  background-image: url("img/balloons_closer.png");
  background-size: 100%;
  background-repeat: repeat-y;
  justify-content: center;
  align-items: center;
}

// GAME_PAGE

.grocery-game-page {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(img/groceries_bg.png);
  background-size: contain;
  background-repeat: repeat-x;
  overflow: hidden;
}

.pengu-shopping-bg {
  position: absolute;
  right: 3%;
  bottom: 13%;
  z-index: 0;
}

.grocery-questions {
  position: relative;
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45%;
}

.grocery-question-text img {
  width: 40px;
  height: 40px;
}

.grocery-question-text {
  display: flex;
  flex-direction: row;
  width: 500px;
  gap: 10px;
  font-weight: 500;
  font-size: 20px;
  background-color: white;
  align-items: center;
  padding-left: 30px;
  border-radius: 0 40px 40px 0;
}

.grocery-correct-modal {
  position: relative;
  display: flex;
}

.grocery-question-buttons {
  position: relative;
  padding-left: 50px;
  display: flex;
  gap: 20px;
}

.grocery-question-buttons button {
  background-color: transparent;
  background-image: url(img/foodbuttonbg.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: fit-content;
  border: none;
  cursor: pointer;
}

.grocery-question-buttons button:hover {
  background-image: url(img/foodbuttonbg-hover.png);
  transition-duration: 0.3s;
}

.grocery-question-textdeco {
  text-decoration: underline;
  color: #11adde;
}

.grocery-correct-modal-textbg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  right: 220px;
  bottom: 210px;
}

.speechbubble-image {
  position: relative;
  z-index: 3;
}

.speechbubble-text {
  position: absolute;
  width: 75%;
  font-size: 22px;
  z-index: 4;
  align-self: center;
}

.gamefinished-screen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-finished-waitingscreen {
  position: relative;
  width: 50%;
  border-radius: 35px;
  background-color: white;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0 0 15px rgb(0 0 0 / 25%);
  text-align: center;
}

.gamefinished-screen .loading-icon-image {
  position: absolute;
  display: flex;
  left: 0;
  height: auto;
  bottom: 5%;
}

.gamefinished-screen .loading-icon-image img {
  max-width: 100%;
  height: auto;
  transform: scaleX(-1);
}

//GO_GROCERIES_BACKGROUND

.groceries-background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  .shelves {
    transform: scale(0.75);
    position: absolute;
    top: 8%;
    width: 100%;
    right: 12.5%;
    z-index: 2;
  }

  .checkered-ground {
    position: absolute;
    width: 100%;
    bottom: -5%;
    right: 0;
  }

  .pengu {
    position: absolute;
    transform: scale(0.6);
    top: 50%;
    right: 0;
    z-index: 3;
  }

  .lights {
    position: absolute;
    width: 100%;
    top: 12%;
    right: 1%;
  }
}

// GAMEENDSCREEN

.grocery-game-endscreen {
  background-color: #11adde;
  color: white;
  font-family: "Poppins", serif;
  width: 100%;
  height: 100vh;

  h1 {
    position: absolute;
    font-size: 45px;
    left: 10%;
    top: 18%;
  }

  .endscreen-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 100px;
    gap: 20px;
    left: 0;
  }

  .endscreen-buttons .mini-icon {
    width: 20px;
  }

  button#replay {
    color: #11adde;
    background-color: white;
  }

  button#replay:hover {
    color: white;
    background-color: #11adde;
  }

  button {
    font-family: "Poppins", serif;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0 50px 50px 0;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    padding: 10px 30px 10px 30px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  button:hover {
    color: #11adde;
    background-color: white;
    transition-duration: 0.2s;
  }

  .all-ranking-bars {
    position: absolute;
    bottom: 0;
    right: 13%;
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    height: fit-content;
    z-index: 8;
  }

  .player-rank-bar {
    bottom: 0;
    right: 100px;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
  }

  img {
    width: 60px;
  }

  img#winner {
    width: 100px;
  }

  .winner-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    align-items: center;
  }

  .player-rank-bar .mini-icon {
    width: 40px;
  }

  .player-rank-bar#winner {
    height: 100vh;
  }

  .winner-outline {
    width: 90px;
    height: 90px;
    border: #ffe55b 6px solid;
    border-radius: 80px;
    position: absolute;
  }

  .spotlightimg {
    position: absolute;
    top: 0;
    height: 60%;
    width: 40%;
  }

  .ranking-bar-vertical {
    width: 100%;
    height: var(--bar-height);
    background-color: var(--bar-color);
    border-radius: 10px 10px 0 0;
  }

  .ranking-number-img {
    position: absolute;
    bottom: var(--bar-height);
    display: flex;
    flex-direction: column;
  }
}

// PROGRESS_BAR

.progress-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 15%;

  .progress-bar {
    width: 80%;
  }

  .pengu-racing-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80%;
  }

  .pengu-icon {
    position: absolute;
    width: 5%;
    height: auto;
  }
}
