<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Go!</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="lights">
        <img src="images-lets-go/Pink Light.png" class="P1Light" />
        <img src="images-lets-go/Blue Light.png" class="P2Light" />
        <img src="images-lets-go/Yellow Light.png" class="P3Light" />
        <img src="images-lets-go/Green Light.png" class="P4Light" />
    </div>
    <div class="players">
        <img src="images-lets-go/P1.png" class="P1" />
        <img src="images-lets-go/P2.png" class="P2" />
        <img src="images-lets-go/P3.png" class="P3" />
        <img src="images-lets-go/P4.png" class="P4" />
    </div>
    <div class="pengu">
        <img src="images-lets-go/Pengu Happy.png" class="pengu-img" />
    </div>
    <div class="circle">
        <img src="images-lets-go/Ellipse 15.png" class="ellipse" />
    </div>
    <div class="lets-go">
        <img src="images-lets-go/lets-go.png" class="lets-go-img" />
    </div>
    <div class="sparkles">
        <div class="red-sparkles">
            <img src="images-lets-go/Star 6.png" class="star-6" />
            <img src="images-lets-go/Star 7.png" class="star-7" />
            <img src="images-lets-go/Star 8.png" class="star-8" />
        </div>
        <div class="blue-sparkles">
            <img src="images-lets-go/Star 9.png" class="star-9" />
            <img src="images-lets-go/Star 10.png" class="star-10" />
            <img src="images-lets-go/Star 11.png" class="star-11" />
        </div>
        <div class="yellow-sparkles">
            <img src="images-lets-go/Star 12.png" class="star-12" />
            <img src="images-lets-go/Star 13.png" class="star-13" />
            <img src="images-lets-go/Star 14.png" class="star-14" />
        </div>
        <div class="green-sparkles">
            <img src="images-lets-go/Star 15.png" class="star-15" />
            <img src="images-lets-go/Star 16.png" class="star-16" />
            <img src="images-lets-go/Star 17.png" class="star-17" />
        </div>
    </div>
</body>

</html>